.container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.jumbotron .btn {
  margin-top: 10px;
}

.options {
  display: none;
}

#front-end {
  display: none;
}

#back-end {
  display: none;
}

#selectBtn {
  float: left;
  margin-right: 10px;
  }
}

#c-sharp-def.selectBackground1{
  #c-sharp-def {
  background-color: red;
  display: none;
  }
}

.selectBackground2{
  #java-def {
  background-color: red;
  display: none;
  }
}

.selectBackground3{
  #php-def {
  background-color: red;
  display: none;
  }
}

.selectBackground4{
  #ruby-def {
  background-color: red;
  display: none;
  }
}
