body {
  background-color: #f1e3dd;
}

.container {
}

.jumbotron .btn {
  margin-top: 10px;
}

.jumbotron {
  background-color: #667292;
}

.jumbotron h1{
  color: #f1e3dd;
  font-weight: bolder;
}

.jumbotron h2{
  color: #f1e3dd;
  font-weight: bold;
}

.jumbotron h3{
  color: #f1e3dd
}

.jumbotron p{
  color: #f1e3dd;
}

.options {
  display: none;
}

#front-end {
  display: none;
}

#back-end {
  display: none;
}

#selectBtn {
  float: left;
  margin-right: 10px;
  }
