.container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.jumbotron .btn {
  margin-top: 10px;
}

.options {
  display: none;
}

#front-end {
  display: none;
}

#back-end {
  display: none;
}

#introBack {
  float: left;
  margin-right: 10px;
}
